#bodyHome{
    padding:50px;
    background-image: url(backgroundmedico.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: -1; 
}

#logo{
    max-width: 200px;
    margin-left: 45%;
    margin-top: 0px;
    display: inline-block;
    
}

#background{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 8px;
    opacity: 18%;
}

.container{
    max-width: 220px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container,#cHome{
    max-width: 1450px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container,#c.Log{
    max-width: 720px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container,#c.Reg{
    max-width: 1000px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container.row,#c.Index{
    max-width: 900px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container,#c.F{
    max-width: 720px;
    margin:30 auto;
    margin-top: 100px;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-group{
    margin-bottom:30px;
}

#horarios{
    margin-left: 50px;    
}

/*Home*/
#areadetexto.col{
    text-align: center;
    margin-top: 200px;
    padding: 50px;
    margin-left: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#areadetexto {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#h3Texto{
    color:#005BAB
}


#botaoLogin,
#botaoCadastro {
    width: 70%;
    margin-top: 10px;
    text-align: center;
    display: block;  
}

#botaoLogin{
    margin-left: 50px;
}


#horarios {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #005BAB;
    color: white;
}

td {
    border: 1px solid #ddd;
}

#textoHorarios {
    font-size: 18px;
    color: #005BAB;
}


#horarios a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/*INDEX*/

#bodyindex {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}


#col-4 {
  float: left;
  display: none;
  width: 25%;
  padding: 10px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #005BAB;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#formIndex {
  display: flex;
  flex-direction: column;
}

h4, #h4index {
  margin-bottom: 10px;
  color : #005BAB;
  margin-top: 40px;
}

label {
  margin-bottom: 5px;
  float: left;
}


.col-8 {
  float: right;
  width: 65%;
  padding: 10px;
  margin-left: 10px;
  display: inline;
}

#month-year {
  margin-bottom: 10px;
  font-size: 1.5em;
}

#calendar {
  width: 100%;
  border-collapse: collapse;
}

#calendar td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.today {
  background-color: #005BAB;
  color: white;
}

@media (max-width: 768px) {
    #h3Texto {
        font-size: 1.2rem;
    }

    #botaoLogin,
    #botaoCadastro {
        width: 100%;
    }

    #col4 {
        margin-bottom: 20px;
    }

    #logo{
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .container{
        width: 80%;
    }
}

