fieldset{
    border-radius: 30px;
    width: 350px;
    height: 250px;
    float: left;
    margin-left: 40%;
    margin-top: 15%;
    margin-right: 40%;
    margin-bottom: 15%;
    position: absolute;
}


.classesenha{
    display: block;
    margin-left: 25%;
    margin-top: 5%;
    
}

.classecpf{
    margin-left: 25%;
    margin-top: 5%;
}

label#senha{
    float: left;
    display: block;
    color:rgb(108, 226, 255)
}

button#bEntrar{
    display: block;
    border-radius: 30px;
    border-color: aqua;
    background-color: aqua;
    margin-left: 40%;
    margin-top: 8%;
    box-shadow: 1px 2px grey;
    transition: 1s;
    cursor: pointer;
}

button#bEntrar:hover{
    border-radius: 30px;
    border-color: white;
    background-color: rgb(115, 255, 115);
    transition: 1s;
}



a#esquecisenha{
    display: block;
}

.funcionais{

    padding: 10px;
    margin-left: 25%;
    
}

input#senha{
    border-radius: 30px 20px;
    background-color: aqua;
    box-shadow: 1px 2px grey;
}
input#cpf{
    border-radius: 20px 30px;
    background-color: aqua;
    box-shadow: 1px 2px grey;
}
